bonus/Bonus_UptimeMonitor_RishabhSahu.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -160,
        -16
      ],
      "id": "be99c352-2853-4720-8027-9b6e69ecb036",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://lead-management-delta-silk.vercel.app/",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        80,
        -64
      ],
      "id": "a4f9554e-353d-4cc7-8a81-932f34c9776c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1508899840564658220/-xLSt8rX80ra0ClZ7Nm6bKkNyGac6iIfQmFKKzTx90XsqMg2q-Jv_RlFSdj8wda79mq_",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"🚨 Uptime Alert\\nLead Management App is DOWN.\\nStatus Code: {{ $json.statusCode }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        496,
        -144
      ],
      "id": "efcdd1b2-6c87-4fac-8c5a-c51b6b980cdc",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "b61b3186-90d2-4ba6-95aa-2eafc844d547",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": "200",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        288,
        -16
      ],
      "id": "e9686fd8-d816-40d1-8214-1d173568a4a5",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1508899840564658220/-xLSt8rX80ra0ClZ7Nm6bKkNyGac6iIfQmFKKzTx90XsqMg2q-Jv_RlFSdj8wda79mq_",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"🚨 App Health Alert\\nURL: https://lead-management-delta-silk.vercel.app/\\nStatus: {{ $json.statusCode }}\\nResponse Time: {{ $json.headers['x-vercel-id'] || 'N/A' }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        480,
        64
      ],
      "id": "ed97492c-b947-4a8c-960a-ebb994a94e67",
      "name": "HTTP Request2"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "dee538fb-310f-4b83-8586-3fc26bd2e272",
  "meta": {
    "instanceId": "3fae2eb8aed52b358c3b46cb58e5eeda19d780b9006788082b93734bb3ff78e2"
  },
  "id": "yzUaiRNd9YiSDJjN",
  "tags": []
}