task2/Task2_Workflow_RishabhSahu.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -240,
        -48
      ],
      "id": "5cf7d51d-cc03-4387-85b1-c77350806ce5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.github.com/search/repositories?q=topic:nodejs&sort=stars&order=desc&per_page=10",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -32,
        -48
      ],
      "id": "fcbe7dfc-5d6d-4b91-b5fb-f0ae38955cf1",
      "name": "HTTP Request",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.first().json.items;\n\nreturn items.slice(0, 5).map(repo => ({\n  json: {\n    name: repo.full_name,\n    stars: repo.stargazers_count,\n    description: repo.description,\n    url: repo.html_url,\n    owner: repo.owner.login\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        -48
      ],
      "id": "72580721-d64f-45b3-a673-60ada92e1218",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cd67c3c3-a472-415c-9ca5-daa78750c41f",
              "leftValue": "={{ $json.stars }}",
              "rightValue": 1000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        -48
      ],
      "id": "b155df0a-a136-4817-9863-4d8dfe8e908a",
      "name": "If"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.name }}/readme",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        656,
        -80
      ],
      "id": "a5152d6f-fe80-4134-8aa9-ed18d676e917",
      "name": "HTTP Request1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1508899840564658220/-xLSt8rX80ra0ClZ7Nm6bKkNyGac6iIfQmFKKzTx90XsqMg2q-Jv_RlFSdj8wda79mq_",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"🚀 Top Node.js Repos Today\",\n  \"embeds\": [{\n    \"title\": \"{{ $('Code in JavaScript').item.json.name }}\",\n    \"description\": \"⭐ {{ $('Code in JavaScript').item.json.stars }} stars\\n{{ $('Code in JavaScript').item.json.description }}\",\n    \"url\": \"{{ $('Code in JavaScript').item.json.url }}\"\n  }]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        880,
        -64
      ],
      "id": "5ec48a3b-f742-4202-a86a-c6d0cbd336e4",
      "name": "HTTP Request2"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0669b86a-21d4-4ede-b505-c1fb21aa8f59",
  "meta": {
    "instanceId": "3fae2eb8aed52b358c3b46cb58e5eeda19d780b9006788082b93734bb3ff78e2"
  },
  "id": "es5mscFCFtrSwgra",
  "tags": []
}